html, body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #000;

  margin: 0;

  overflow: hidden;
  height: 100%;
}

#screen {
  position: absolute;
  top: 0px;
  left: 0px;
  
  width: 100%;
  height: 100%;

  margin: auto;
}

#stations {
  width: 100%;
  max-width: 500px;
  height: calc(100% - 90px);

  position: fixed;
  left: 0px;
  bottom: 70px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.station #template {
  display: none;
}


#meta {
  height: 50px;
  cursor: pointer;
  font-size: 200%;
  
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#meta-listeners {
  line-height: 80%;
  font-size: 200%;
  float: left;
  padding-right: 20px;
}

#meta-right {
  float: right;
  line-height: 80%;
}

#meta-title {
}

#meta-artist {
  font-size: 80%;
}
