html, body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: #000;

  margin: 0;

  overflow: hidden;
  height: 100%;
}

.left {
  float: left;
}
.right {
  float: right;
}

h1 > small {
  font-size: 50%;
}

.template {
  display: none !important;
}

#screen {
  position: absolute;
  top: 0px;
  left: 0px;
  
  width: 100%;
  height: 100%;

  margin: auto;
}


.button {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  font-size: 15px;
}
.button:hover {
  background: rgba(50, 50, 50, 0.7) !important;
}
.button:active, .button.current {
  background: rgba(80, 80, 80, 0.7) !important;
}

a:link {
  text-decoration: none;
  color: #fff;
}
a:visited {
  color: #fff;
}
a:hover {
  text-decoration: underline;
  color: #fff;
}


#menu {
  width: 100%;
  max-width: 620px;
  height: calc(100% - 70px);
  overflow: auto;

  position: fixed;
  left: 0px;
  bottom: 70px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;

  border-right: 1px solid white;
}

#header {
  margin-left: 20px; margin-right: 20px;
}


#effects {
  padding-left: 0px;
  padding-right: 0px;
  display: none;
}

.effect {
  display: block;
  padding: 0px;
  padding-left: 20px;
}

.effect-thumbnail {
  width: 115px;
  height: 65px;
  float: left;
  margin-right: 20px;
  background: #000;
}


#stations {
  padding-left: 0px;
  padding-right: 0px;
}

.station, .effect-inner {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none !important;
}

.station.button, .effect.button {
  background: none;
}

.station-listeners {
  font-size: 150%;
  float: left;
  padding-right: 20px;
}

.station-name, .effect-name {
  font-size: 150%;
}


#meta {
  display: block;
  width: 600px;
  max-width: 100%;
  height: 50px;

  font-size: 200%;
  overflow: hidden;
  
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 10px;

  border-right: 1px solid rgba(255,255,255,1);
  z-index: 1;
}

#meta-inner {
  display: inline-block;
  width: auto;
  white-space: nowrap;
}

#meta-listeners {
  line-height: 80%;
  font-size: 200%;
  float: left;
  padding-right: 20px;
}

#meta-right {
  line-height: 80%;
  overflow: hidden;
}

#meta-artist {
  font-size: 80%;
}
